@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.padding-x{
  @apply sm:px-16 px-6;
}

.questrial-regular {
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hero__img-content{
  @apply absolute lg:right-0 lg:bottom-[50%] lg:-translate-y-[-50%] lg:-translate-x-[0%] overflow-hidden
  -translate-x-[-50%] right-[50%] bottom-0 z-[-1];
}
.hero__img-content::after{
  @apply w-full top-0 left-0 h-full absolute lg:inline hidden;
  content: "";
  z-index: 1;
  background-image: linear-gradient(90deg, var(--background) 0%, rgba(0, 0, 0, 0) 10%),
    linear-gradient(90deg, rgba(0, 0, 0, 0) 90%, var(--background) 100%);
}

.projects__items{
  position: absolute;
  transform: translate(-50%, -50%);
  width: 60%;
}