@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.padding-x{
  @apply sm:px-16 px-6;
}

.questrial-regular {
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hero__img-content{
  @apply md:absolute md:right-0 md:bottom-[50%] z-[-1] md:-translate-y-[-50%] overflow-hidden
   relative self-end;
}
.hero__img-content::after{
  @apply w-full top-0 left-0 h-full absolute md:inline hidden;
  content: "";
  z-index: 1;
  background-image: linear-gradient(90deg, var(--background) 0%, rgba(0, 0, 0, 0) 10%),
    linear-gradient(90deg, rgba(0, 0, 0, 0) 90%, var(--background) 100%);
}
